.wait-game-panel__room-code {
  text-align: center;
}
.wait-game-panel__code-description {
  text-align: center;
  margin-bottom: 20px;
}
.wait-game-panel__room-players {
  text-align: center;
}
.wait-game-panel__separator {
  margin: 12px 0;
}
